@import "./../abstract/var";
.ebooks-container{
    padding-bottom: 5rem;
}

.ebooks-container-title {
    padding: 12rem 9rem 9rem 9rem;
    color: $fourth-color;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 20px $first-color;
}

.ebooks {
    width: 80%;
    margin: auto;
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;


    .ebook-content {
        width: 500px;
        height: 200px;
        box-sizing: border-box;
        background: $first-color;
        border-radius: 1rem;
        border: 1px solid rgba(255, 255, 255, .2);
        display: flex;
        flex-grow: 1;

        .ebook-img {
            img {
                height: 100%;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                border: 1px solid rgba(255, 255, 255, .2);
            }
        }

        .ebook-description {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .ebook-title {
                color: $second-color;
                font-weight: bold;
                line-height: 1.5em;
            }
        }

        .buttons {
            display: flex;
            padding-right: 1rem;
            gap: 1rem;

            .btn {
                padding: 1rem 1rem;
                font-size: 1rem;
                font-weight: bold;
                color: $third-color;
                background-color: $first-color;
                border-radius: .4rem;
                border: 2px solid $third-color;
                cursor: pointer;
                text-decoration: none;
            }

            .btn:hover {
                background: $third-color;
                color: $first-color;
            }
        }
    }

    .ebook-content:hover {
        border: 1px solid $third-color;
        box-shadow: 0 0 10px $third-color;
    }
}

.telegram-community {
    background-color: $first-color;

    .telegram-community-title {
        padding: 4rem 0;
        background-color: $first-color;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        color: $fourth-color;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $third-color;
        }

        a:hover {
            text-shadow: 0 0 5px $third-color;
        }
    }
}

@media (max-width: 640px) {
    .ebooks-container {
        .telegram-community {
            padding: 3rem;
        }
    }
}

@media (max-width: 550px) {
    .ebooks-container-title {
        padding: 8rem 3rem 3rem 3rem;
        font-size: 2.5rem;
    }

    .ebooks {
        width: 95%;

        .ebook-content {
            height: 200px;

            .buttons {
                gap: .5rem;
                padding-right: .5rem;

                .btn {
                    padding: .3rem .3rem;
                    font-size: .8rem;
                }
            }
        }
    }

}

@media (max-width: 420px) {
    .ebooks {
        width: 98%;

        .ebook-description {
            padding: .5rem;
        }

        .ebook-content {
            width: 400px;

        }
    }
}