@import "./../abstract/var";

.main-container {
    .presentation {
        padding: 23rem 6rem;
        width: 100%;
        .presentation-content {
            background: $fourth-color;
            padding: 3rem;
            border-radius: 2rem;
            text-align: center;

            .presentation-title {
                font-size: 2.5rem;
                font-weight: bold;
                color: $first-color;
                margin-bottom: 1.5rem;
                span {
                    text-transform: uppercase;
                    color: $third-color;
                }
            }

            .presentation-text {
                color: $first-color;
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 600px) {
    .main-container {
        .presentation {
            padding: 18rem 2rem;
        }
    }
}

@media (max-width: 500px) {
    .main-container{
        .presentation{
            padding: 12rem 0;
            .presentation-content{
                padding: 3rem .5rem;
                border-radius: 0;
            }
        }
    }
}