@import "./../abstract/var";

.main-container {
    .presentation {
        padding: 23rem 6rem;
        .presentation-content {
            background: $fourth-color;
            padding: 3rem;
            border-radius: 2rem;
            text-align: center;

            .presentation-title {
                font-size: 2.5rem;
                font-weight: bold;
                color: $first-color;
                margin-bottom: 1.5rem;
                span {
                    text-transform: uppercase;
                    color: $third-color;
                }
            }

            .presentation-text {
                color: $first-color;
                font-weight: 500;
            }
        }

        .presentation-content:hover {
            box-shadow: 0 0 35px $third-color;
        }
    }
}