@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

// ===== Fonte =====
$font: 'Poppins', sans-serif;

// ===== Colors =====
$first-color: #1B1A17;
$second-color: #F0A500;
$third-color: #E45826;
$fourth-color: #E6D5B8;